# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# n8n
N8N_WEBHOOK_URL=https://n8n-n8n.hzmhls.easypanel.host/webhook/stock

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
